body{
    
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.banner img{
    height: 650px;
    /* border: 2px solid red; */
}
.right-section{
    margin-left: 230px;
    margin-top: 45px;
}
.large{

    font-size: xx-large;
}
.margin--bottom-2{
    margin-bottom: 2rem;
}

.margin--top-1{
    margin-top: 1rem;
}
.btn{
    
    margin-top: 12px;
    padding: 0.6rem;
    border: 1px solid rgb(207, 217, 222);
    border-radius:1.2rem;
    background-color: white;
    width: 58%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 14px;
    cursor: pointer;

}
.btn span{
    color: rgba(0, 0, 0, 0.853);
    margin-left: 4px;
}
.btn--hover-lightblue:hover{
    background-color: rgba(31, 131, 197, 0.042);
    border-color: rgba(31, 131, 197, 0.162);
}
.btn--hover-grey:hover{

    background-color: rgba(128, 128, 128, 0.244);
}
.margin--right-4{

    margin-right: 4px;

}
.text-center{

    display: grid;
    width: 300px;
    height: 10px;
    place-content: center;   
}
.btn--bg-blue{

    background-color: rgb(29, 155, 240);
    border-color: #0000;
    font-weight: bold;
}
.btn--bg-blue:hover{

    background-color: rgb(31, 130, 197);
}
.btn--bg-blue span{
    color: white;
}
.terms{
    color:#333333bc;
}
.terms span{
    color:rgb(29, 155, 240);
}
.terms span:hover{

    text-decoration: underline;
}
.small{

    font-size: x-small;
}
.btn--bg-white{
    background-color: #fff;
}
.text-blue{
 color:rgb(29, 155, 240);
}
.font-bold{
    font-weight: 550;
    font-size:16px;
}
.btn--hover-blue:hover{
    background-color: rgba(31, 131, 197, 0.175);
}
.links{
    
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding-left: 12px;
}
.links a{
    
    text-decoration: none;
     color:#333333bc;
     font-weight: lighter;
     font-size: small;
     margin-left: 0px;
     margin-right: 0px;
}
.links li{

    text-decoration: none;
     color:#333333bc;
     font-weight: lighter;
     font-size: small;
     margin-left: 0px;
}
.links a:hover{

    text-decoration: underline;
}
@media screen and (max-width:995px) {
    
    .banner img{
     
        height: 100px;
        width: 50px;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red; */
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .banner{
        margin-left: 1rem;
    }
    .right-section{
    
        /* border: 2px solid blue; */
        margin-left: 1rem;
        margin-right: auto;
        margin-top: 0px;
    }
    .btn{
        width: 60%;
        margin-right: auto;
    }
    
}
@media screen and (max-width:500px)  {

    .large{

        font-size: x-large;
    }
   
}